body {
    margin: 0;
    font-family: Franklin Gothic, sans-serif;
    background-color: #1b1b1b;
}
    .Central_info {
        position: absolute;
        font-size: 100px;
        color: #eeeeee;
        left: 900px;
        top: 300px;
    }
    .cityCentral {
        position: center;
        font-size: 33px;
        left: -0px;
        top: -0px;
    }
    .weatherTypeCentral {
        position: center;
        font-size: 33px;
        left: -0px;
        top: -0px;
    }

.Rectangle1{
    position: absolute;
    width: 330px;
    height: 330px;
    left: 175px;
    top: 600px;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: -0px 4px 4px -0px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}

    .City_time {
        position: absolute;
        opacity: 1;
        font-size: 60px;
        color: #eeeeee;
        left: 20px;
        top: 20px;
    }
    .City_date {
        position: absolute;
        opacity: 0.8;
        font-size: 25px;
        color: #eeeeee;
        left: 20px;
        top: 80px;
    }
    .Sunrise_txt {
        position: absolute;
        color: #eeeeee;
        left: 20px;
        top: 250px;
        opacity: 0.8;
        font-family: Calibri, sans-serif;
    }
    .Sunrise_time {
        position: absolute;
        color: #eeeeee;
        left: 20px;
        top: 250px;
    }
    .Sunset_txt {
        position: absolute;
        color: #eeeeee;
        left: 260px;
        top: 250px;
        opacity: 0.8;
        font-family: Calibri, sans-serif;
    }
    .Sunset_time {
        position: absolute;
        color: #eeeeee;
        left: 266px;
        top: 250px;
    }
.Rectangle2{
    position: absolute;
    width: 330px;
    height: 330px;
    left: 575px;
    top: 600px;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: -0px 4px 4px -0px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}
    .text-field__input{
        position: absolute;
        width: 300px;
        height: 30px;
        left: 12px;
        top: 30px;
        font-family: Calibri, sans-serif;
        font-size: 15px;
        text-indent: 7px;
        color: rgba(255, 255, 255, 0.8);
        background-color: rgba(193, 193, 193, 0.2);
        box-shadow: -0px 4px 4px -0px rgba(0, 0, 0, 0.05);
        border-radius: 20px;
        border: 1px solid #E7E7E7;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
    .text-field__input::placeholder{
        color: #eeeeee;
        opacity: 0.4;
    }
    .text-field__input:focus {
        background-color: rgba(193, 193, 193, 0.2);
        box-shadow: -0px 4px 4px -0px rgba(0, 0, 0, 0.05);
        border-radius: 20px;
        border-color: #DDDDDD;
        outline: 0;
    }
    .text-field__input[type="search"]::-webkit-search-decoration,
    .text-field__input[type="search"]::-webkit-search-cancel-button,
    .text-field__input[type="search"]::-webkit-search-results-button,
    .text-field__input[type="search"]::-webkit-search-results-decoration {
        -webkit-appearance: none;
    }
    .text-field__search {
        position: absolute;
        background-color: rgba(193, 193, 193, 0);
        border-radius: 20px;
        left: 270px;
        top: 38px;
        font-family: Calibri, sans-serif;
        color: #eeeeee;
        cursor: pointer;
        border: 1px;
        outline: 0;
    }
    .text-field__search:hover {
        color: #1b1b1b;
    }
    .SearchText {
        position: absolute;
        font-size: 15px;
        color: #eeeeee;
        opacity: 0.4;
        font-family: Calibri, sans-serif;
        left: 10px;
        top: 5px;
    }
    .City_searched {
        position: absolute;
        font-size: 22px;
        color: #eeeeee;
        font-family: Calibri, sans-serif;
        left: 105px;
        top: 68px;
    }
    .City_searched_txt {
        position: absolute;
        font-size: 22px;
        color: #eeeeee;
        opacity: 0.8;
        font-family: Calibri, sans-serif;
        left: 20px;
        top: 68px;
    }

.Rectangle3{
    position: absolute;
    width: 330px;
    height: 330px;
    left: 975px;
    top: 600px;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: -0px 4px 4px -0px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}

.Rectangle4{
    position: absolute;
    width: 330px;
    height: 330px;
    left: 1375px;
    top: 600px;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: -0px 4px 4px -0px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}
    .Feels_like_temp_txt {
        position: absolute;
        opacity: 0.8;
        font-size: 20px;
        font-family: Calibri, sans-serif;
        top: 10px;
    }
    .Feels_like_temp {
         position: absolute;
         top: 2px;
     }

    .Wind_spd_info_txt{
        position: relative;
        top: 100px;
        left: -0px;
        opacity: 0.8;
        font-size: 20px;
        font-family: Calibri, sans-serif;
    }
    .Wind_spd_info{
         position: absolute;
         top: 90px;
         left: -0px;
     }


    .Humidity_info_txt{
        position: absolute;
        top: 10px;
        left: 150px;
        opacity: 0.8;
        font-size: 20px;
        font-family: Calibri, sans-serif;
    }
    .Humidity_info{
         position: absolute;
         top: 2px;
         left: 150px;
     }


    .Pressure_info_txt{
        position: absolute;
        top: 100px;
        left: 150px;
        opacity: 0.8;
        font-size: 20px;
        font-family: Calibri, sans-serif;
    }
    .Pressure_info{
         position: absolute;
         top: 90px;
         left: 150px;
     }

    .City_info {
        position: absolute;
        font-size: 25px;
        color: #eeeeee;
        left: 20px;
        top: 20px;
    }
.intro{
    max-height: 100vh;
    overflow: hidden;
}

.video{
    position: relative;
    padding-bottom: 56.25%;
}

.video__media {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}
.imag{
        max-height: 100vh;
        overflow: hidden;
}
.image{
        position: relative;
        padding-bottom: 56.25%;
}

.imagee{
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
}
.imagee_cl {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    animation: swimming 1.5s ease-in alternate-reverse;
    animation-iteration-count: initial;
}
@keyframes swimming {
 from{
     top: 0;
}
to{
    top: -30px;
}
}